@define-color surface-alpha rgba(16, 20, 23, 0.5);
@define-color error #ffb4ab;
@define-color on_hover #17d15b;
@define-color arch-blue #1793d1;
@define-color on_surface #dfe3e7;
@define-color surface #101417;
@define-color surface_high #313539;

* {
	border: none;
	border-radius: 0px;
	font-family: Firacode Nerd Font;
	font-size: 14px;
	font-weight: bold;
	min-height: 0;
}

window#waybar {
	background: @surface-alpha;
}

tooltip {
	background: @surface;
	border: 2px solid @on_surface;
	border-radius: 12px;
}

tooltip label {
	color: @on_surface;
	padding: 6px;
}

#custom-Arch {
	color: @on_surface;
	background: @surface;
	border-radius: 0px 30px 30px 0px;
	padding: 5px 20px 5px 5px;
	margin-right: 5px;
	font-size: 20px;
}

#workspaces {
	background: @surface;
	margin: 5px 0px;
	padding: 5px 14px;
	border-radius: 24px 10px 24px 10px;
	color: @on_surface;
}

#workspaces button {
	padding: 0px 0px;
	margin: 0px 3px;
	border-radius: 16px;
	color: transparent;
	background: @surface_high;
	/* how to apply transitions without the text of inactive
	 * workspaces from appearing when switching workspaces */
	transition: min-width 0.3s ease-in-out,
							background 0.3s ease-in-out,
							color 0.3s ease-in-out;
}

#workspaces button.focused {
	background: @on_surface;
	color: transparent;
	transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
	background-color: @error;
	color: @surface;
	min-width: 50px;
	transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
	background-color: @on_surface;
	color: @surface;
	border-radius: 16px;
	min-width: 50px;
	transition: all 0.3s ease-in-out;
}

#pulseaudio, #network, #battery, #cpu, #temperature, #memory,
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.forward {
	background: @surface;
	margin: 5px 0px;
}

#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.forward {
	font-size: 22px;
}

#custom-playerctl.backward:hover, #custom-playerctl.play:hover, #custom-playerctl.forward:hover{
	color: @on_hover;
	transition: all 0.3s ease-in-out;
}

#custom-playerctl.backward {
	color: @on_surface;
	border-radius: 24px 0px 0px 10px;
	padding-left: 16px;
	margin-left: 5px;
	transition: all 0.3s ease-in-out;
}

#custom-playerctl.play {
	color: @arch-blue;
	transition: all 0.3s ease-in-out;
}

#custom-playerctl.forward {
	color: @on_surface;
	transition: all 0.3s ease-in-out;
}

#custom-playerlabel {
	background: @surface;
	color: @on_surface;
	padding-right: 20px;
	border-radius: 0px 10px 24px 0px;
	margin: 5px 0px;
}

#mode {
	background: @surface;
	margin: 5px 5px;
	border-radius: 24px 10px 24px 10px;
	padding-left: 16px;
	padding-right: 20px;
	font-size: 20px;
}

#window{
	background: @surface;
	padding: 0px 15px;
	border-radius: 16px;
	margin: 5px 0px;
}

#pulseaudio, #network {
	border-radius: 10px 24px 10px 24px;
	padding: 0 20px;
	margin-left: 7px;
}

#cpu {
	border-radius: 10px 0px 0px 24px;
	padding-left: 16px;
	padding-right: 7px;
	margin-left: 7px;
}

#memory {
	padding-left: 7px;
	padding-right: 8px;
}

#battery {
	border-radius: 0px 24px 10px 0px;
	padding-left: 8px;
	padding-right: 16px
}

#clock {
	color: @on_surface;
	background: @surface;
	border-radius: 30px 0px 0px 30px;
	padding: 5px 5px 5px 20px;
	margin-left: 7px;
}
